.main-page-login{
    display: flex;
    height: 100vh; //vh (viewport height), tingginya sesuai dengan tinggi screen yang kita lihat
    box-sizing: border-box;
    overflow: hidden; 
}

.left-login{
    flex: 1;
    background-color: white;
    .left-bg-login{
        width: 120%;
        height: 100%;
        object-fit: contain;
    }
}

.right-login{
    width: 700px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    .title-login{
        font-size: 20px;
        font-weight: bold;
        color: #2d2d2d;
    }
}